name: PR Labeler
on:
  workflow_dispatch:
  pull_request:
    types: [opened, reopened, edited, closed, synchronize]

jobs:
  label:

    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
    - uses: srvaroa/labeler@master
      env:
        GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
